<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Spotify Stats</title>
    <link rel="stylesheet" href="/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/css/bootstrap-modal.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/stats.css">
    <link rel="stylesheet" href="/modules/animate/animate.min.css">
    <link rel="stylesheet" href="/modules/fontawesome/css/all.min.css">
    <script src="/modules/animejs/anime.min.js"></script>
    <script src="/modules/jquery/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <section class="absolute main bg-light shadow-top">
      <div class="album album-after" id="album-1">
        <img class="album-inner shadow" src="/img/album-1.jpg" alt="Album cover">
      </div>
      <div class="album album-after" id="album-2">
        <img class="album-inner shadow" src="/img/album-2.jpg" alt="Album cover">
      </div>
      <div class="album album-after" id="album-3">
        <img class="album-inner shadow" src="/img/album-3.jpg" alt="Album cover">
      </div>
      <div class="album album-after" id="album-4">
        <img class="album-inner shadow" src="/img/album-4.jpg" alt="Album cover">
      </div>
      <div class="album album-after" id="album-5">
        <img class="album-inner shadow" src="/img/album-5.jpg" alt="Album cover">
      </div>
      <div class="album album-after" id="album-6">
        <img class="album-inner shadow" src="/img/album-6.jpg" alt="Album cover">
      </div>
      <div class="album album-after" id="album-7">
        <img class="album-inner shadow" src="/img/album-7.jpg" alt="Album cover">
      </div>
      <div class="album album-after" id="album-8">
        <img class="album-inner shadow" src="/img/album-8.jpg" alt="Album cover">
      </div>
      <div class="album album-after" id="album-9">
        <img class="album-inner shadow" src="/img/album-9.jpg" alt="Album cover">
      </div>
      <div class="album album-after" id="album-10">
        <img class="album-inner shadow" src="/img/album-10.jpg" alt="Album cover">
      </div>
      <div class="album album-after" id="album-11">
        <img class="album-inner shadow" src="/img/album-11.jpg" alt="Album cover">
      </div>
      <div class="album album-after" id="album-12">
        <img class="album-inner shadow" src="/img/album-12.jpg" alt="Album cover">
      </div>
      <div class="album album-after" id="album-13">
        <img class="album-inner shadow" src="/img/album-13.jpg" alt="Album cover">
      </div>
      <div class="album album-after" id="album-14">
        <img class="album-inner shadow" src="/img/album-14.jpg" alt="Album cover">
      </div>
      <div class="album album-after" id="album-15">
        <img class="album-inner shadow" src="/img/album-15.jpg" alt="Album cover">
      </div>
      <div class="album album-after" id="album-16">
        <img class="album-inner shadow" src="/img/album-16.jpg" alt="Album cover">
      </div>
      <div class="album album-after" id="album-17">
        <img class="album-inner shadow" src="/img/album-17.jpg" alt="Album cover">
      </div>
      <div class="flip-card album album-after" id="album-18">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img class="album-inner shadow" src="/img/album-18.jpg" alt="Album cover">
          </div>
          <div class="flip-card-back">
            <% if (shortTermSongs.total < 1) { %>
              <img class="album-flip-inner" src="/img/empty.jpg" alt="No song cover available">
            <% } else { %>
              <img class="album-flip-inner" src=<%=shortTermSongs.items[0].album.images[0].url%> alt="Album cover">
            <% } %>
          </div>
        </div>
      </div>

      <div class="start-text w-100 h-100 d-flex flex-column align-items-center justify-content-center">
        <div class="start-text-inner w-100 h-100 d-flex flex-column align-items-center justify-content-center">
          <div class="welcome-msg d-flex flex-column w-100 align-items-center justify-content-center">
            <h1 class="welcome">Welcome</h1>
            <small class="welcome-subtitle">to your own Spotify replay exhibition.</small>
          </div>
          <button class="login-btn" type="button" name="login">Log in with Spotify</button>
        </div>
      </div>
      <span class="bg-expand"></span>
    </section>

    <section id="tracks" class="d-none hidden main-after bg-dark text-white text-left shadow-top" style="padding-bottom: 100px;">
      <div class="main-after d-flex flex-row flex-wrap">
        <% if (shortTermSongs.total < 1) { %>
          <div class="col-lg-4 col-12 d-flex flex-column left-wrapper">
            <img class="big-song-cover shadow" src="/img/empty.jpg" style="background: #181818;" alt="No song cover available">
            <div class="text-left">
              <div class="song-description-wrapper d-flex flex-row">
                <div class="song-rank d-flex align-items-center justify-content-center">1</div>
                <div class="d-flex align-items-center song-title line-cut-3">No Track Found</div>
              </div>
              <p class="song-artist">Listen more to unlock more songs!</p>
            </div>
          </div>
        <% } else { %>
          <div class="col-lg-4 col-12 d-flex flex-column left-wrapper">
            <img class="big-song-cover shadow" src=<%= shortTermSongs.items[0].album.images[0].url %> alt="Song cover">
            <div class="text-left">
              <div class="song-description-wrapper d-flex flex-row">
                <div class="song-rank d-flex align-items-center justify-content-center">1</div>
                <div class="d-flex align-items-center song-title line-cut-3"><%=shortTermSongs.items[0].name%></div>
              </div>
              <p class="song-artist">by <span class="bold"><%=shortTermSongs.items[0].artists[0].name%></span></p>
            </div>
          </div>
        <% } %>
        <div class="col-lg-8 col-12 right-wrapper main-after">
          <div class="d-flex flex-column">
            <div style="margin-bottom: 20px; margin-left: 0.5rem;">Top Tracks</div>
            <div class="d-flex flex-row">
              <button class="btn-no-style track-time-range underline active" onclick="changeTrackTime(1)"><small>4 Weeks</small></button>
              <button class="btn-no-style track-time-range underline" onclick="changeTrackTime(2)"><small>6 Months</small></button>
              <button class="btn-no-style track-time-range underline" onclick="changeTrackTime(3)"><small>All Time</small></button>
            </div>
          </div>

          <div style="font-size: 0.4rem; font-style: italic; font-weight: 300; margin-left: 0.5rem; color: #B3B3B3; margin-bottom: 0.5rem;">
            Click on a song to play its preview!
          </div>
          <div class="d-flex flex-row flex-wrap">
            <% for (let i = 0; i < 50; i++) { %>
              <% if (shortTermSongs.total <= i) { %>
                <div class="d-none col-xxl-4 col-md-6">
                  <div class="card-wrapper">
                    <div class="btn-no-style w-100 card track-card shadow d-flex flex-row" onclick="clickTrackCard(this);" id=song<%=i%>>
                      <img class="small-song-cover" src="/img/empty.jpg" style="background: #181818; min-width: 80px;" alt="No song cover available">
                      <div class="small-song-rank h-100 d-flex align-items-center justify-content-center"><%=i+1%></div>
                      <div class="d-flex flex-column justify-content-center song-description-wrapper-small">
                        <small class="line-cut-1 song-title-small">No Track Found</small>
                        <small class="line-cut-1 song-artist-small">Listen more to unlock more songs!</small>
                      </div>
                    </div>
                  </div>
                </div>
              <% } else { %>
                <% if (i !== 0) { %>
                  <div class="col-xxl-4 col-md-6">
                    <div class="card-wrapper">
                      <button class="btn-no-style w-100 card track-card shadow d-flex flex-row" onclick="clickTrackCard(this);" id=song<%=i%>>
                        <img class="small-song-cover" src=<%=shortTermSongs.items[i].album.images[0].url%> alt="Song cover">
                        <div class="small-song-rank h-100 d-flex align-items-center justify-content-center"><%=i+1%></div>
                        <div class="d-flex flex-column justify-content-center song-description-wrapper-small">
                          <small class="line-cut-1 song-title-small"><%=shortTermSongs.items[i].name%></small>
                          <small class="line-cut-1 song-artist-small"><%=shortTermSongs.items[i].artists[0].name%></small>
                        </div>
                      </button>
                    </div>
                  </div>
                <% } else { %>
                  <div class="d-none col-xxl-4 col-lg-6 col-12">
                    <div class="card-wrapper">
                      <button class="btn-no-style w-100 card track-card shadow d-flex flex-row" onclick="clickTrackCard(this);" id=song<%=i%>>
                        <img class="small-song-cover" src=<%=shortTermSongs.items[i].album.images[0].url%> alt="Song cover">
                        <div class="small-song-rank h-100 d-flex align-items-center justify-content-center"><%=i+1%></div>
                        <div class="d-flex flex-column justify-content-center song-description-wrapper-small">
                          <small class="line-cut-1 song-title-small"><%=shortTermSongs.items[i].name%></small>
                          <small class="line-cut-1 song-artist-small"><%=shortTermSongs.items[i].artists[0].name%></small>
                        </div>
                      </button>
                    </div>
                  </div>
                <% } %>
              <% } %>
            <% } %>
          </div>
        </div>
      </div>
    </section>

    <section id="artists" class="d-none hidden main-after bg-dark text-white text-left shadow-top">
      <div class="main-after d-flex flex-row flex-wrap">
        <% if (shortTermArtists.total < 1) { %>
          <div class="col-lg-4 col-12 d-flex flex-column left-wrapper">
            <div class="big-artist-cover-wrapper shadow">
              <img class="big-artist-cover" src="/img/empty.jpg" alt="No artist image available">
            </div>
            <div class="text-left">
              <div class="artist-description-wrapper d-flex flex-row">
                <div class="artist-rank d-flex align-items-center justify-content-center">1</div>
                <div class="d-flex align-items-center artist-name line-cut-3">No Artist Found</div>
              </div>
              <p class="artist-genre">
                Listen more to unlock more artists!
              </p>
            </div>
          </div>
        <% } else { %>
          <div class="col-lg-4 col-12 d-flex flex-column left-wrapper">
            <div class="big-artist-cover-wrapper shadow">
              <img class="big-artist-cover" src=<%= shortTermArtists.items[0].images[0].url %> alt="Artist image">
            </div>
            <div class="text-left">
              <div class="artist-description-wrapper d-flex flex-row">
                <div class="artist-rank d-flex align-items-center justify-content-center">1</div>
                <div class="d-flex align-items-center artist-name line-cut-3"><%=shortTermArtists.items[0].name%></div>
              </div>
              <p class="artist-genre">
                <% shortTermArtists.items[0].genres.forEach(function(genre) { %>
                  <%=genre%> <br/>
                <% }); %>
              </p>
            </div>
          </div>
        <% } %>
        <div class="col-lg-8 col-12 right-wrapper main-after">
          <div class="d-flex flex-column">
            <div style="margin-bottom: 20px; margin-left: 0.5rem;">Top Artists</div>
            <div class="d-flex flex-row">
              <button class="btn-no-style artist-time-range underline active" onclick="changeArtistTime(1)"><small>4 Weeks</small></button>
              <button class="btn-no-style artist-time-range underline" onclick="changeArtistTime(2)"><small>6 Months</small></button>
              <button class="btn-no-style artist-time-range underline" onclick="changeArtistTime(3)"><small>All Time</small></button>
            </div>
            <!-- <div style="font-size: 0.4rem; font-style: italic; font-weight: 300; margin-left: 0.5rem; color: #B3B3B3; margin-bottom: 0.5rem;">
              Click on an artist to play their top song!
            </div> -->
          </div>
          <div class="d-flex flex-row flex-wrap">
            <% for (let i = 0; i < 50; i++) { %>
              <% if (shortTermArtists.total <= i) { %>
                <div class="d-none col-xxl-4 col-md-6">
                  <div class="card-wrapper">
                    <div class="btn-no-style w-100 card artist-card shadow d-flex flex-row" onclick="clickArtistCard(this);" id=song<%=i%>>
                      <img class="small-artist-cover" src="/img/empty.jpg" style="background: #181818; min-width: 80px;" alt="No artist image available">
                      <div class="small-artist-rank h-100 d-flex align-items-center justify-content-center"><%=i+1%></div>
                      <div class="d-flex flex-column justify-content-center artist-description-wrapper-small">
                        <small class="line-cut-1 artist-name-small">No Artist Found</small>
                        <small class="line-cut-1 artist-genre-small">Listen more to unlock more artists!</small>
                      </div>
                    </div>
                  </div>
                </div>
              <% } else { %>
                <% if (i !== 0) { %>
                  <div class="col-xxl-4 col-md-6">
                    <div class="card-wrapper">
                      <button class="btn-no-style w-100 card artist-card shadow d-flex flex-row" onclick="clickArtistCard(this);" id=artist<%=i%>>
                        <div class="small-artist-cover-wrapper">
                          <% if (shortTermArtists.items[i].images[0]) { %>
                            <img class="small-artist-cover" src=<%=shortTermArtists.items[i].images[0].url%> alt="Artist image">
                          <% } else { %>
                            <img class="small-artist-cover" src="img/empty.jpg" style="background: #181818;" alt="No artist image available">
                          <% } %>
                        </div>
                        <div class="small-artist-rank h-100 d-flex align-items-center justify-content-center"><%=i+1%></div>
                        <div class="d-flex flex-column justify-content-center artist-description-wrapper-small">
                          <small class="line-cut-1 artist-name-small"><%=shortTermArtists.items[i].name%></small>
                          <small class="line-cut-1 artist-genre-small"><%=shortTermArtists.items[i].genres[0]%></small>
                        </div>
                      </button>
                    </div>
                  </div>
                <% } else { %>
                  <div class="d-none col-xxl-4 col-lg-6 col-12">
                    <div class="card-wrapper">
                      <button class="btn-no-style w-100 card artist-card shadow d-flex flex-row" onclick="clickArtistCard(this);" id=artist<%=i%>>
                        <% if (shortTermArtists.items[i].images[0]) { %>
                          <img class="small-artist-cover" src=<%=shortTermArtists.items[i].images[0].url%> alt="Artist image">
                        <% } else { %>
                          <img class="small-artist-cover" src="img/empty.jpg" style="background: #181818;" alt="No artist image available">
                        <% } %>
                        <div class="small-artist-rank h-100 d-flex align-items-center justify-content-center"><%=i+1%></div>
                        <div class="d-flex flex-column justify-content-center artist-description-wrapper-small">
                          <small class="line-cut-1 artist-name-small"><%=shortTermArtists.items[i].name%></small>
                          <small class="line-cut-1 artist-genre-small"><%=shortTermArtists.items[i].genres[0]%></small>
                        </div>
                      </button>
                    </div>
                  </div>
                <% } %>
              <% } %>
            <% } %>
          </div>
        </div>
      </div>
    </section>

    <div class="nav-wrapper d-none hidden">
      <div class="nav shadow d-flex flex-row justify-content-center align-items-center">
        <a href="#tracks" class="d-flex flex-column justify-content-center align-items-center nav-item">
          <i class="fa fa-music" style="margin-bottom: 5px; font-size: 24px;"></i>
          <div style="font-size: 11px; font-weight: 300;">Top Tracks</div>
        </a>
        <a href="#artists" class="d-flex flex-column justify-content-center align-items-center nav-item">
          <i class="fa fa-microphone-alt" style="margin-bottom: 5px; font-size: 24px;"></i>
          <div style="font-size: 11px; font-weight: 300;">Top Artists</div>
        </a>
        <a id="mute-btn" onclick="toggleAllAudio(this);" class="d-flex flex-column justify-content-center align-items-center nav-item" data-muted="false">
          <i id="mute-icon" class="fa fa-volume-up" style="margin-bottom: 5px; font-size: 24px;"></i>
          <div id="mute-text" style="font-size: 11px; font-weight: 300;">Mute Site</div>
        </a>
      </div>
    </div>

    <!-- Button trigger modal -->
    <button id="modal-btn" type="button" class="d-none" data-toggle="modal" data-target="#modal"></button>

    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
      <div class="modal-lg modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content d-flex justify-content-center align-items-center">
          <div>Hello there! <br/></div>
          <small class="modal-msg">Just a reminder that this website plays a lot of music... Feel free to turn it up! (or continue without)</small>
          <button id="sound-on-btn" type="button" class="continue-btn" data-dismiss="modal">Jump In!</button>
          <button id="sound-off-btn" type="button" data-dismiss="modal">Continue without sounds</button>
        </div>
      </div>
    </div>

    <section class="d-none">
      <% if (shortTermSongs.total >= 1) { %>
        <% shortTermSongs.items.forEach(function(song) { %>
          <audio id=<%=song.uri%>>
            <source src=<%=song.preview_url%> type="audio/mpeg">
          </audio>
        <% }); %>
      <% } %>
      <% if (mediumTermSongs.total >= 1) { %>
        <% mediumTermSongs.items.forEach(function(song) { %>
          <audio id=<%=song.uri%>>
            <source src=<%=song.preview_url%> type="audio/mpeg">
          </audio>
        <% }); %>
      <% } %>
      <% if (longTermSongs.total >= 1) { %>
        <% longTermSongs.items.forEach(function(song) { %>
          <audio id=<%=song.uri%>>
            <source src=<%=song.preview_url%> type="audio/mpeg">
          </audio>
        <% }); %>
      <% } %>
      <!-- <% shortTermArtists.items.forEach(function(artist) { %>
        <audio id=<%=artist.uri%>>
          <source src=<%=artist.preview_url%> type="audio/mpeg">
        </audio>
      <% }); %>
      <% mediumTermArtists.items.forEach(function(artist) { %>
        <audio id=<%=artist.uri%>>
          <source src=<%=artist.preview_url%> type="audio/mpeg">
        </audio>
      <% }); %>
      <% longTermArtists.items.forEach(function(artist) { %>
        <audio id=<%=artist.uri%>>
          <source src=<%=artist.preview_url%> type="audio/mpeg">
        </audio>
      <% }); %> -->
    </section>

    <script>
      const SHORT_TERM = 1;
      const MEDIUM_TERM = 2;
      const LONG_TERM = 3;

      const shortTermSongs = <%-JSON.stringify(shortTermSongs)%>
      const mediumTermSongs = <%-JSON.stringify(mediumTermSongs)%>
      const longTermSongs = <%-JSON.stringify(longTermSongs)%>

      const shortTermArtists = <%-JSON.stringify(shortTermArtists)%>
      const mediumTermArtists = <%-JSON.stringify(mediumTermArtists)%>
      const longTermArtists = <%-JSON.stringify(longTermArtists)%>

      const audioDuration = ((30 - 2) * 1000);
      var currentSongAudio;

      var currentSongIndex = 0;
      var currentArtistIndex = 0;
      var currentTrackTimeRange = 1;
      var currentArtistTimeRange = 1;

      function initAlbums() {
        let main = document.querySelector(".main");
        let albums = document.querySelectorAll(".album");
        const maxWidth = 28;
        const minWidth = 24;

        for (let i = 0; i < albums.length; i++) {
          let randDimensions = Math.random() * (maxWidth - minWidth) + minWidth;
          albums[i].style.width = "calc(" + randDimensions + "px + 8vw + 5vh)";
          albums[i].style.height = "calc(" + randDimensions + "px + 8vw + 5vh)";
        }
      }

      function initAnimation() {
        window.history.replaceState({}, "My Spotify Stats", "/stats");

        let btn = document.querySelector(".login-btn");
        let backgroundExpand = document.querySelector(".bg-expand");
        let albums = document.querySelectorAll(".album-inner");
        let welcomeMsg = document.querySelector(".welcome-msg");

        backgroundExpand.classList.add("bg-expanded");
        setTimeout(function() {
          let main = document.querySelector(".main");
          main.style.background = "#141414";
          document.body.style.background = "#141414";
          const directions = ["left", "right", "right", "right", "right", "left", "right", "right", "right",
                            "left", "right", "left", "right", "left", "left", "right", "left", "left"];

          for (var i = 0; i < albums.length; i++) {
            if (i === albums.length - 1) {
              albums[i].classList.remove("shadow");
              albums[i].parentElement.parentElement.parentElement.classList.add("album-center");
              albums[i].parentElement.parentElement.parentElement.style.transition = "all 0.4s ease " + (0.15 * i) + "s";

              if (directions[i] === "left") {
                albums[i].parentElement.parentElement.parentElement.classList.add("album-center-left");
              } else {
                albums[i].parentElement.parentElement.parentElement.classList.add("album-center-right");
              }
            } else {
              albums[i].classList.remove("shadow");
              albums[i].parentElement.classList.add("album-center");
              albums[i].parentElement.style.transition = "all 0.4s ease " + (0.15 * i) + "s";

              if (directions[i] === "left") {
                albums[i].parentElement.classList.add("album-center-left");
              } else {
                albums[i].parentElement.classList.add("album-center-right");
              }
            }
          }
          setTimeout(function() {
            welcomeMsg.remove();
            btn.remove();
            backgroundExpand.remove();

            for (var i = 0; i < albums.length; i++) {
              if (i !== albums.length - 1) {
                albums[i].parentElement.remove();
              }
            }

            let flip = document.querySelector(".flip-card-inner");
            let main = document.querySelector(".main");
            flip.classList.add("flip-card-inner-after");
            flip.parentElement.style.transition = "all 0.4s ease";
            flip.parentElement.classList.add("flip-card-after");
            main.classList.add("main-after");
            setTimeout(function() {
              flip.parentElement.classList.remove("album-after");
              flip.parentElement.classList.remove("album");
              flip.parentElement.removeAttribute("id");
              let tracks = document.getElementById("tracks");
              tracks.classList.remove("d-none");
              setTimeout(function() {
                tracks.classList.remove("hidden");
              }, 100);
              let artists = document.getElementById("artists");
              artists.classList.remove("d-none");
              setTimeout(function() {
                artists.classList.remove("hidden");
              }, 100);
            }, 600);
            if (shortTermSongs.total >= 1) {
              initAudio(document.getElementById(shortTermSongs.items[0].uri));
            }

            let nav = document.querySelector(".nav-wrapper");
            nav.classList.remove("d-none");
            nav.classList.remove("hidden");
          }, 3000);
        }, 700);
      }

      function initAudio(src) {
        if (currentSongAudio) {
          currentSongAudio.pause();
          currentSongAudio.currentTime = 0;
        }
        src.volume = 0;
        src.currentTime = 0;
        src.play();
        $(src).animate({volume: 0.7}, 1500);
        setTimeout(function() {
          if (src.currentTime > 27.5) {
            $(src).animate({volume: 0}, 1500);
            setTimeout(function() {
              src.pause();
            }, 1500);
          }
        }, audioDuration);
        currentSongAudio = src;
      }

      function mute(e) {
        e.muted = true;
        e.pause();
      }

      function unmute(e) {
        e.muted = false;
      }

      function toggleAllAudio(muteBtn) {
        let muteIcon = document.getElementById("mute-icon");
        let muteText = document.getElementById("mute-text");
        let media = document.querySelectorAll("video, audio");

        if (muteBtn.dataset.muted === "true") {
          muteBtn.dataset.muted = false;
          [].forEach.call(media, function(e) {
            unmute(e);
          });
          initAudio(currentSongAudio);
          muteIcon.classList.remove("fa-volume-mute");
          muteIcon.classList.add("fa-volume-up");
          muteText.innerText = "Mute Site";
        } else {
          muteBtn.dataset.muted = true;
          [].forEach.call(media, function(e) {
            mute(e);
          });
          muteIcon.classList.remove("fa-volume-up");
          muteIcon.classList.add("fa-volume-mute");
          muteText.innerText = "Unmute";
        }
      }

      function init() {
        let modal = document.getElementById("modal");
        let modalBtn = document.getElementById("modal-btn");
        let soundOffBtn = document.getElementById("sound-off-btn");

        modalBtn.click();

        soundOffBtn.addEventListener("click", function() {
          let muteBtn = document.getElementById("mute-btn");
          muteBtn.click();
        });

        $(modal).on("hidden.bs.modal", function () {
          initAlbums();
          setTimeout(initAnimation, 500);
        });
      }

      function initNavBar() {
        let navbar = document.querySelector(".nav");

        var prevScrollpos = window.pageYOffset;
        window.onscroll = function() {
          var currentScrollPos = window.pageYOffset;
          if (prevScrollpos > currentScrollPos) {
            navbar.style.bottom = "-80px";
          } else {
            navbar.style.bottom = "0";
          }
          prevScrollpos = currentScrollPos;
        }
      }

      function clickTrackCard(card) {
        let cards = document.querySelectorAll(".track-card");
        let bigCover = document.querySelector(".big-song-cover");
        let bigRank = document.querySelector(".song-rank");
        let bigTitle = document.querySelector(".song-title");
        let bigArtist = document.querySelector(".song-artist");
        let index = card.id.replace(/^\D+/g, '');
        let rank = Number(index) + 1;

        bigCover.classList.add("hidden");
        bigRank.classList.add("hidden");
        bigTitle.classList.add("hidden");
        bigArtist.classList.add("hidden");

        cards.forEach(function(card, i) {
          card.disabled = true;
          setTimeout(function() {
            card.disabled = false;
          }, 1500);
        });

        setTimeout(function() {
          if (currentTrackTimeRange === SHORT_TERM) {
            initAudio(document.getElementById(shortTermSongs.items[Number(index)].uri))
            bigCover.src = shortTermSongs.items[index].album.images[0].url;
            bigRank.innerText = rank;
            bigTitle.innerText = shortTermSongs.items[index].name;
            bigArtist.innerText = "by " + shortTermSongs.items[index].artists[0].name;
          }
          else if (currentTrackTimeRange === MEDIUM_TERM) {
            initAudio(document.getElementById(mediumTermSongs.items[Number(index)].uri))
            bigCover.src = mediumTermSongs.items[index].album.images[0].url;
            bigRank.innerText = rank;
            bigTitle.innerText = mediumTermSongs.items[index].name;
            bigArtist.innerText = "by " + mediumTermSongs.items[index].artists[0].name;
          }
          else {
            initAudio(document.getElementById(longTermSongs.items[Number(index)].uri))
            bigCover.src = longTermSongs.items[index].album.images[0].url;
            bigRank.innerText = rank;
            bigTitle.innerText = longTermSongs.items[index].name;
            bigArtist.innerText = "by " + longTermSongs.items[index].artists[0].name;
          }

          bigCover.classList.remove("hidden");
          bigRank.classList.remove("hidden");
          bigTitle.classList.remove("hidden");
          bigArtist.classList.remove("hidden");
        }, 200)

        card.parentElement.parentElement.classList.add("d-none");

        let showCard = document.getElementById("song" + currentSongIndex).parentElement.parentElement;
        showCard.classList.remove("d-none");

        currentSongIndex = index;
      }

      function changeTrackTime(mode) {
        if (mode !== SHORT_TERM && mode !== MEDIUM_TERM && mode !== LONG_TERM) {
          return;
        }
        else if (mode === currentTrackTimeRange) {
          return;
        }
        else {
          let btns = document.querySelectorAll(".track-time-range");

          btns.forEach(function(btn, i) {
            btn.disabled = true;
            setTimeout(function() {
              btn.disabled = false;
            }, 2000);

            if (mode === i + 1) {
              btn.classList.add("active");
            } else {
              btn.classList.remove("active");
            }
          });

          currentSongIndex = 0;
          let cards = document.querySelectorAll(".track-card");
          let smallCovers = document.querySelectorAll(".small-song-cover");
          let smallRanks = document.querySelectorAll(".small-song-rank");
          let smallTitles = document.querySelectorAll(".song-title-small");
          let smallArtists = document.querySelectorAll(".song-artist-small");

          let bigCover = document.querySelector(".big-song-cover");
          let bigRank = document.querySelector(".song-rank");
          let bigTitle = document.querySelector(".song-title");
          let bigArtist = document.querySelector(".song-artist");

          if (mode === SHORT_TERM) {
            if (shortTermSongs.total < 1) {
              bigCover.classList.add("hidden");
              setTimeout(function() {
                bigCover.src = "img/empty.jpg";
                bigCover.classList.remove("hidden");
                bigRank.classList.add("hidden");
                bigTitle.classList.add("hidden");
                setTimeout(function() {
                  bigRank.innerText = 1;
                  bigTitle.innerText = "No Track Found";
                  bigRank.classList.remove("hidden");
                  bigTitle.classList.remove("hidden");
                  bigArtist.classList.add("hidden");
                  setTimeout(function() {
                    bigArtist.innerText = "Listen more to unlock more songs!";
                    bigArtist.classList.remove("hidden");
                  }, 100);
                }, 100);
              }, 100);
            } else {
              initAudio(document.getElementById(shortTermSongs.items[0].uri));

              bigCover.classList.add("hidden");
              setTimeout(function() {
                bigCover.src = shortTermSongs.items[0].album.images[0].url;
                bigCover.classList.remove("hidden");
                bigRank.classList.add("hidden");
                bigTitle.classList.add("hidden");
                setTimeout(function() {
                  bigRank.innerText = 1;
                  bigTitle.innerText = shortTermSongs.items[0].name;
                  bigRank.classList.remove("hidden");
                  bigTitle.classList.remove("hidden");
                  bigArtist.classList.add("hidden");
                  setTimeout(function() {
                    bigArtist.innerHTML = "by <span class='bold'>" + shortTermSongs.items[0].artists[0].name + "</span>";
                    bigArtist.classList.remove("hidden");
                  }, 100);
                }, 100);
              }, 100);
            }

            cards.forEach(function(card, i) {
              if (shortTermSongs.items[i]) {
                card.parentElement.parentElement.classList.remove("d-none");
                if (i === 0) {
                  card.parentElement.parentElement.classList.add("d-none");
                }
                card.id = "song" + i;
                setTimeout(function() {
                  card.classList.add("hidden");
                  setTimeout(function() {
                    smallCovers[i].src = shortTermSongs.items[i].album.images[0].url;
                    smallRanks[i].innerText = i + 1;
                    smallTitles[i].innerText = shortTermSongs.items[i].name;
                    smallArtists[i].innerText = shortTermSongs.items[i].artists[0].name;
                    card.classList.remove("hidden");
                  }, 300);
                }, (i * 50));
              } else {
                card.classList.add("hidden");
                setTimeout(function() {
                  card.classList.add("d-none");
                }, 350);
              }
            });

            currentTrackTimeRange = SHORT_TERM;
          }
          else if (mode === MEDIUM_TERM) {
            if (mediumTermSongs.total < 1) {
              bigCover.classList.add("hidden");
              setTimeout(function() {
                bigCover.src = "img/empty.jpg";
                bigCover.classList.remove("hidden");
                bigRank.classList.add("hidden");
                bigTitle.classList.add("hidden");
                setTimeout(function() {
                  bigRank.innerText = 1;
                  bigTitle.innerText = "No Track Found";
                  bigRank.classList.remove("hidden");
                  bigTitle.classList.remove("hidden");
                  bigArtist.classList.add("hidden");
                  setTimeout(function() {
                    bigArtist.innerText = "Listen more to unlock more songs!";
                    bigArtist.classList.remove("hidden");
                  }, 100);
                }, 100);
              }, 100);
            } else {
              initAudio(document.getElementById(mediumTermSongs.items[0].uri));

              bigCover.classList.add("hidden");
              setTimeout(function() {
                bigCover.src = mediumTermSongs.items[0].album.images[0].url;
                bigCover.classList.remove("hidden");
                bigRank.classList.add("hidden");
                bigTitle.classList.add("hidden");
                setTimeout(function() {
                  bigRank.innerText = 1;
                  bigTitle.innerText = mediumTermSongs.items[0].name;
                  bigRank.classList.remove("hidden");
                  bigTitle.classList.remove("hidden");
                  bigArtist.classList.add("hidden");
                  setTimeout(function() {
                    bigArtist.innerHTML = "by <span class='bold'>" + mediumTermSongs.items[0].artists[0].name + "</span>";
                    bigArtist.classList.remove("hidden");
                  }, 100);
                }, 100);
              }, 100);
            }

            cards.forEach(function(card, i) {
              if (mediumTermSongs.items[i]) {
                card.parentElement.parentElement.classList.remove("d-none");
                if (i === 0) {
                  card.parentElement.parentElement.classList.add("d-none");
                }
                card.id = "song" + i;
                setTimeout(function() {
                  card.classList.add("hidden");
                  setTimeout(function() {
                    smallCovers[i].src = mediumTermSongs.items[i].album.images[0].url;
                    smallRanks[i].innerText = i + 1;
                    smallTitles[i].innerText = mediumTermSongs.items[i].name;
                    smallArtists[i].innerText = mediumTermSongs.items[i].artists[0].name;
                    card.classList.remove("hidden");
                  }, 300);
                }, (i * 50));
              } else {
                card.classList.add("hidden");
                setTimeout(function() {
                  card.classList.add("d-none");
                }, 350);
              }
            });

            currentTrackTimeRange = MEDIUM_TERM;
          }
          else if (mode === LONG_TERM) {
            if (longTermSongs.total < 1) {
              bigCover.classList.add("hidden");
              setTimeout(function() {
                bigCover.src = "img/empty.jpg";
                bigCover.classList.remove("hidden");
                bigRank.classList.add("hidden");
                bigTitle.classList.add("hidden");
                setTimeout(function() {
                  bigRank.innerText = 1;
                  bigTitle.innerText = "No Track Found";
                  bigRank.classList.remove("hidden");
                  bigTitle.classList.remove("hidden");
                  bigArtist.classList.add("hidden");
                  setTimeout(function() {
                    bigArtist.innerText = "Listen more to unlock more songs!";
                    bigArtist.classList.remove("hidden");
                  }, 100);
                }, 100);
              }, 100);
            } else {
              initAudio(document.getElementById(longTermSongs.items[0].uri));

              bigCover.classList.add("hidden");
              setTimeout(function() {
                bigCover.src = longTermSongs.items[0].album.images[0].url;
                bigCover.classList.remove("hidden");
                bigRank.classList.add("hidden");
                bigTitle.classList.add("hidden");
                setTimeout(function() {
                  bigRank.innerText = 1;
                  bigTitle.innerText = longTermSongs.items[0].name;
                  bigRank.classList.remove("hidden");
                  bigTitle.classList.remove("hidden");
                  bigArtist.classList.add("hidden");
                  setTimeout(function() {
                    bigArtist.innerHTML = "by <span class='bold'>" + longTermSongs.items[0].artists[0].name + "</span>";
                    bigArtist.classList.remove("hidden");
                  }, 100);
                }, 100)
              }, 100);
            }

            cards.forEach(function(card, i) {
              if (longTermSongs.items[i]) {
                card.parentElement.parentElement.classList.remove("d-none");
                if (i === 0) {
                  card.parentElement.parentElement.classList.add("d-none");
                }
                card.id = "song" + i;
                setTimeout(function() {
                  card.classList.add("hidden");
                  setTimeout(function() {
                    smallCovers[i].src = longTermSongs.items[i].album.images[0].url;
                    smallRanks[i].innerText = i + 1;
                    smallTitles[i].innerText = longTermSongs.items[i].name;
                    smallArtists[i].innerText = longTermSongs.items[i].artists[0].name;
                    card.classList.remove("hidden");
                  }, 300);
                }, (i * 50));
              } else {
                card.classList.add("hidden");
                setTimeout(function() {
                  card.classList.add("d-none");
                }, 350);
              }
            });

            currentTrackTimeRange = LONG_TERM;
          }
        }
      }

      function clickArtistCard(card) {
        let cards = document.querySelectorAll(".artist-card");
        let bigCover = document.querySelector(".big-artist-cover");
        let bigRank = document.querySelector(".artist-rank");
        let bigName = document.querySelector(".artist-name");
        let bigGenre = document.querySelector(".artist-genre");
        let index = card.id.replace(/^\D+/g, '');
        let rank = Number(index) + 1;

        bigCover.classList.add("hidden");
        bigRank.classList.add("hidden");
        bigName.classList.add("hidden");
        bigGenre.classList.add("hidden");

        setTimeout(function() {
          if (currentArtistTimeRange === SHORT_TERM) {
            // initAudio(document.getElementById(shortTermArtists.items[Number(index)].uri))
            bigCover.src = shortTermArtists.items[index].images[0].url;
            bigRank.innerText = rank;
            bigName.innerText = shortTermArtists.items[index].name;
            let genres = "";
            shortTermArtists.items[index].genres.forEach(function(genre) {
              genres += genre + "<br/>";
            });
            bigGenre.innerHTML = genres;
          }
          else if (currentArtistTimeRange === MEDIUM_TERM) {
            // initAudio(document.getElementById(mediumTermArtists.items[Number(index)].uri))
            bigCover.src = mediumTermArtists.items[index].images[0].url;
            bigRank.innerText = rank;
            bigName.innerText = mediumTermArtists.items[index].name;
            let genres = "";
            mediumTermArtists.items[index].genres.forEach(function(genre) {
              genres += genre + "<br/>";
            });
            bigGenre.innerHTML = genres;
          }
          else {
            // initAudio(document.getElementById(longTermArtists.items[Number(index)].uri))
            bigCover.src = longTermArtists.items[index].images[0].url;
            bigRank.innerText = rank;
            bigName.innerText = longTermArtists.items[index].name;
            let genres = "";
            longTermArtists.items[index].genres.forEach(function(genre) {
              genres += genre + "<br/>";
            });
            bigGenre.innerHTML = genres;
          }

          bigCover.classList.remove("hidden");
          bigRank.classList.remove("hidden");
          bigName.classList.remove("hidden");
          bigGenre.classList.remove("hidden");
        }, 200)

        card.parentElement.parentElement.classList.add("d-none");

        let showCard = document.getElementById("artist" + currentArtistIndex).parentElement.parentElement;
        showCard.classList.remove("d-none");

        currentArtistIndex = index;
      }

      function changeArtistTime(mode) {
        if (mode !== SHORT_TERM && mode !== MEDIUM_TERM && mode !== LONG_TERM) {
          return;
        }
        else if (mode === currentArtistTimeRange) {
          return;
        }
        else {
          let btns = document.querySelectorAll(".artist-time-range");

          btns.forEach(function(btn, i) {
            btn.disabled = true;
            setTimeout(function() {
              btn.disabled = false;
            }, 2000);

            if (mode === i + 1) {
              btn.classList.add("active");
            } else {
              btn.classList.remove("active");
            }
          });

          currentArtistIndex = 0;
          let cards = document.querySelectorAll(".artist-card");
          let smallCovers = document.querySelectorAll(".small-artist-cover");
          let smallRanks = document.querySelectorAll(".small-artist-rank");
          let smallNames = document.querySelectorAll(".artist-name-small");
          let smallGenres = document.querySelectorAll(".artist-genre-small");

          let bigCover = document.querySelector(".big-artist-cover");
          let bigRank = document.querySelector(".artist-rank");
          let bigName = document.querySelector(".artist-name");
          let bigGenre = document.querySelector(".artist-genre");

          if (mode === SHORT_TERM) {
            if (shortTermArtists.total < 1) {
              bigCover.classList.add("hidden");
              setTimeout(function() {
                bigCover.src = "img/empty.jpg";
                bigCover.classList.remove("hidden");
                bigRank.classList.add("hidden");
                bigName.classList.add("hidden");
                setTimeout(function() {
                  bigRank.innerText = 1;
                  bigName.innerText = "No Artist Found";
                  bigRank.classList.remove("hidden");
                  bigName.classList.remove("hidden");
                  bigGenre.classList.add("hidden");
                  setTimeout(function() {
                    bigGenre.innerHTML = "Listen more to unlock more artists!";
                    bigGenre.classList.remove("hidden");
                  }, 100);
                }, 100);
              }, 100);
            } else {
              // initAudio(document.getElementById(shortTermArtists.items[0].uri));
              bigCover.classList.add("hidden");
              setTimeout(function() {
                bigCover.src = shortTermArtists.items[0].images[0].url;
                bigCover.classList.remove("hidden");
                bigRank.classList.add("hidden");
                bigName.classList.add("hidden");
                setTimeout(function() {
                  bigRank.innerText = 1;
                  bigName.innerText = shortTermArtists.items[0].name;
                  bigRank.classList.remove("hidden");
                  bigName.classList.remove("hidden");
                  bigGenre.classList.add("hidden");
                  setTimeout(function() {
                    let genres = "";
                    shortTermArtists.items[0].genres.forEach(function(genre) {
                      genres += genre + "<br/>";
                    });
                    bigGenre.innerHTML = genres;
                    bigGenre.classList.remove("hidden");
                  }, 100);
                }, 100);
              }, 100);
            }

            cards.forEach(function(card, i) {
              if (shortTermArtists.items[i]) {
                card.parentElement.parentElement.classList.remove("d-none");
                if (i === 0) {
                  card.parentElement.parentElement.classList.add("d-none");
                }
                card.id = "artist" + i;
                setTimeout(function() {
                  card.classList.add("hidden");
                  setTimeout(function() {
                    smallCovers[i].src = shortTermArtists.items[i].images[0].url;
                    smallRanks[i].innerText = i + 1;
                    smallNames[i].innerText = shortTermArtists.items[i].name;
                    smallGenres[i].innerText = shortTermArtists.items[i].genres[0];
                    card.classList.remove("hidden");
                  }, 300);
                }, (i * 50));
              } else {
                card.classList.add("hidden");
                setTimeout(function() {
                  card.classList.add("d-none");
                }, 350);
              }
            });

            currentArtistTimeRange = SHORT_TERM;
          }
          else if (mode === MEDIUM_TERM) {
            if (mediumTermArtists.total < 1) {
              bigCover.classList.add("hidden");
              setTimeout(function() {
                bigCover.src = "img/empty.jpg";
                bigCover.classList.remove("hidden");
                bigRank.classList.add("hidden");
                bigName.classList.add("hidden");
                setTimeout(function() {
                  bigRank.innerText = 1;
                  bigName.innerText = "No Artist Found";
                  bigRank.classList.remove("hidden");
                  bigName.classList.remove("hidden");
                  bigGenre.classList.add("hidden");
                  setTimeout(function() {
                    bigGenre.innerHTML = "Listen more to unlock more artists!";
                    bigGenre.classList.remove("hidden");
                  }, 100);
                }, 100);
              }, 100);
            } else {
              // initAudio(document.getElementById(mediumTermArtists.items[0].uri));
              bigCover.classList.add("hidden");
              setTimeout(function() {
                bigCover.src = mediumTermArtists.items[0].images[0].url;
                bigCover.classList.remove("hidden");
                bigRank.classList.add("hidden");
                bigName.classList.add("hidden");
                setTimeout(function() {
                  bigRank.innerText = 1;
                  bigName.innerText = mediumTermArtists.items[0].name;
                  bigRank.classList.remove("hidden");
                  bigName.classList.remove("hidden");
                  bigGenre.classList.add("hidden");
                  setTimeout(function() {
                    let genres = "";
                    mediumTermArtists.items[0].genres.forEach(function(genre) {
                      genres += genre + "<br/>";
                    });
                    bigGenre.innerHTML = genres;
                    bigGenre.classList.remove("hidden");
                  }, 100);
                }, 100);
              }, 100);
            }

            cards.forEach(function(card, i) {
              if (mediumTermArtists.items[i]) {
                card.parentElement.parentElement.classList.remove("d-none");
                if (i === 0) {
                  card.parentElement.parentElement.classList.add("d-none");
                }
                card.id = "artist" + i;
                setTimeout(function() {
                  card.classList.add("hidden");
                  setTimeout(function() {
                    smallCovers[i].src = mediumTermArtists.items[i].images[0].url;
                    smallRanks[i].innerText = i + 1;
                    smallNames[i].innerText = mediumTermArtists.items[i].name;
                    smallGenres[i].innerText = mediumTermArtists.items[i].genres[0];
                    card.classList.remove("hidden");
                  }, 300);
                }, (i * 50));
              } else {
                card.classList.add("hidden");
                setTimeout(function() {
                  card.classList.add("d-none");
                }, 350);
              }
            });

            currentArtistTimeRange = MEDIUM_TERM;
          }
          else if (mode === LONG_TERM) {
            if (longTermArtists.total < 1) {
              bigCover.classList.add("hidden");
              setTimeout(function() {
                bigCover.src = "img/empty.jpg";
                bigCover.classList.remove("hidden");
                bigRank.classList.add("hidden");
                bigName.classList.add("hidden");
                setTimeout(function() {
                  bigRank.innerText = 1;
                  bigName.innerText = "No Artist Found";
                  bigRank.classList.remove("hidden");
                  bigName.classList.remove("hidden");
                  bigGenre.classList.add("hidden");
                  setTimeout(function() {
                    bigGenre.innerHTML = "Listen more to unlock more artists!";
                    bigGenre.classList.remove("hidden");
                  }, 100);
                }, 100);
              }, 100);
            } else {
              // initAudio(document.getElementById(longTermArtists.items[0].uri));
              bigCover.classList.add("hidden");
              setTimeout(function() {
                bigCover.src = longTermArtists.items[0].images[0].url;
                bigCover.classList.remove("hidden");
                bigRank.classList.add("hidden");
                bigName.classList.add("hidden");
                setTimeout(function() {
                  bigRank.innerText = 1;
                  bigName.innerText = longTermArtists.items[0].name;
                  bigRank.classList.remove("hidden");
                  bigName.classList.remove("hidden");
                  bigGenre.classList.add("hidden");
                  setTimeout(function() {
                    let genres = "";
                    longTermArtists.items[0].genres.forEach(function(genre) {
                      genres += genre + "<br/>";
                    });
                    bigGenre.innerHTML = genres;
                    bigGenre.classList.remove("hidden");
                  }, 100);
                }, 100);
              }, 100);
            }

            cards.forEach(function(card, i) {
              if (longTermArtists.items[i]) {
                card.parentElement.parentElement.classList.remove("d-none");
                if (i === 0) {
                  card.parentElement.parentElement.classList.add("d-none");
                }
                card.id = "artist" + i;
                setTimeout(function() {
                  card.classList.add("hidden");
                  setTimeout(function() {
                    smallCovers[i].src = longTermArtists.items[i].images[0].url;
                    smallRanks[i].innerText = i + 1;
                    smallNames[i].innerText = longTermArtists.items[i].name;
                    smallGenres[i].innerText = longTermArtists.items[i].genres[0];
                    card.classList.remove("hidden");
                  }, 300);
                }, (i * 50));
              } else {
                card.classList.add("hidden");
                setTimeout(function() {
                  card.classList.add("d-none");
                }, 350);
              }
            });

            currentArtistTimeRange = LONG_TERM;
          }
        }
      }

      init();
      initNavBar();

    </script>
  </body>
</html>
